.bg-mafia{
    height: 1500px;
    object-fit: cover;
    width: 100%;
    background-image: url("dark-mafia.jpg");
}
.gameMaster{
    width: 20%;
    background-color: #6e747c;
    padding: 20px 5px 5px;
    border-radius:5px;
    border: white solid 2px;
    text-align: center;
    font-size: 16pt;
    margin-bottom: 10px;
}
.bg-general{
    height: 3000px;
    background-image: url("dark-mafia.jpg");
    background-repeat: repeat-y;
}
.bg-second{
    background-color: #343a40;
    opacity: 0.8;
}
